.grid-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
}

@media (max-width: 640px) {
  .grid-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
  }

  .img {
    width: 80px;
    height: 100px;
  }

  .front-img {
    width: 50px;
    margin-left: 15px;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .grid-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
  }

  .img {
    width: 80px;
    height: 100px;
  }

  .front-img {
    width: 50px;
    margin-left: 15px;
    z-index: 1;
  }
}
